body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}
#content {
  background: url("../img/my_bj3.png") no-repeat, #ffdbeb81;
  background-size: cover;
  background-position: bottom;
}
.container {
  background: url("../img/my_bj4.jpg") no-repeat;
  background-size: auto;
  background-position: left;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.539);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2rem;
  color: #333;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.profile-info div {
  flex: 1;
}

.profile-info h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.profile-info p {
  margin: 5px 0;
  color: #777;
}

.action-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.action-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

.action-buttons button:hover {
  background-color: #45a049;
}
