<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO V11</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detection.css') }}">
</head>

<body>

    {% extends 'parent.html' %}

    {% block header %}
    <div id="header">
        <div class="left t"></div>
        <div class="title t">YOLO 11</div>
        <div class="right t"></div>
    </div>
    </div>
    {% endblock %}

    {% block content %}
    <div id="topContent">
        <div class="img block">
            <canvas class="canvas">Canvas</canvas>
            <div class="settings">
                <label class="btn" for="file-input">导入文件</label>
                <input type="file" id="file-input" accept=".jpg,.jpeg,.png,.mp3,.mov,.avi" class="btn"
                    style="display:none;">
                <div class="btn">导入文件夹</div>
                <div class="btn">摄像头</div>
                <div class="btn confidence">
                    置信度：
                    <input type="range" id="Irange" value="9">
                    <span id="conf">9</span>%
                </div>
            </div>
        </div>

        <div class="block" style="background:#f0f0f0bb;height:2px; margin:0 10px;">
            <hr>
        </div>

        <div class="block list">
            <div id="infoList">
                <div style="text-align: center;color:#ffffff">暂无详情，请检测图片</div>
            </div>
            <div id="oldList">
                {% for i in data %}
                <button class="element" onclick="showOlList('{{ i.id}}')">{{ i['date'] }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        const OlData = {
        {% for i in data %}
        {{ i.id }}: {{ i | safe() }},
        {% endfor %}
        }
    </script>

    <script src="{{ url_for('static',filename='js/detection.js') }}" ></script>

    {% endblock %}
</body>

</html>