<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的个人中心</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/my.css') }}"
    />
  </head>

  <body>
    {% extends 'parent.html' %} {% block content %}
    <div class="container">
      <header>
        <h1>欢迎来到个人中心</h1>
      </header>

      <div class="profile-info">
        <img src="../static/img/tx.jpg" alt="User Avatar" />
        <div>
          <h2>{{ username }}</h2>
          {% if message != None %}
          <span style="font-size: 12px; color: rgba(255, 0, 0, 0.377)"
            >{{ message }}</span
          >
          {% endif%}
          <br />
          <strong>姓名：</strong>
          <div
            id="profile-username"
            style="display: inline-block; min-width: 100px"
          >
            {{ name }}
          </div>
          <br />
          <strong>邮箱：</strong>
          <div
            id="profile-email"
            style="display: inline-block; min-width: 100px"
          >
            {{ email }}
          </div>
          <br />
          <span style="display: none">
            <strong>新密码：</strong>
            <div
              id="new_password"
              style="display: inline-block; min-width: 100px; border: solid"
              contenteditable="true"
            ></div>
          </span>
          <p><strong>注册时间：</strong>{{date}}</p>
        </div>
      </div>

      <div class="action-buttons">
        <button id="edit_profile">修改个人信息</button>
        <button id="submit_profile" style="display: none">确认</button>
        <button id="edit_password">修改密码</button>
        <button onclick="window.location.href='/logout'">登出</button>
      </div>
    </div>
    <script src="{{ url_for('static',filename='js/my.js') }}"></script>
    {% endblock %}
  </body>
</html>
